ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.column {
  background-color: #ebecf0;
  width: 300px;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  white-space: normal;
  color: #5e6c84;
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #b3becc;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #778597;
    border-radius: 10px;
  }
  &__top {
    display: flex;
    height: fit-content;
    align-items: flex-start;
    width: 280px;
    padding: 8px;
    margin-left: 2px;
    textarea {
      border: 0;
      color: #263959b4;
      background-color: transparent;
      overflow: hidden;
      overflow-wrap: break-word;
      height: 24px;
      width: 260px;
      resize: none;
      font-size: 16px;
      line-height: 24px;
      font-family: sans-serif;
      font-weight: 600;
      padding: 2px 6px;
      &:hover {
        cursor: pointer;
      }
      &:focus {
        background-color: white;
        cursor: text;
      }
    }
    button {
      border: 0;
      color: #263959;
      background-color: transparent;
      padding: 5px;
      img {
        height: 16px;
        opacity: 0.4;
      }
      &:hover {
        cursor: pointer;
        background-color: rgba(9, 30, 66, 0.08);
        img {
          opacity: 0.6;
        }
      }
    }
  }
  &__cardlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
  }
}
