.add-column,
.add-card {
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 8px;
  background-color: #3d99ce;
  border-radius: 3px;
  border: 0;
  overflow: hidden;
  overflow-wrap: break-word;
  line-height: 24px;
  font-family: sans-serif;
}

.add-column {
  display: flex;
  flex-shrink: 0;
  width: 296px;
  color: white;
  font-size: 14px;
  line-height: 24px;
  font-family: sans-serif;
  padding: 0 8px;
  cursor: pointer;

  img {
    height: 24px;
    opacity: 0.4;
  }

  &:hover {
    background-color: #b5c5da;
  }
}

.add-card {
  background-color: transparent;
  display: flex;
  align-items: center;
  height: fit-content;
  width: auto;
  margin: 10px;
  padding: 8px;
  border-radius: 3px;
  border: 0;
  color: #5e6c84;
  background-color: transparent;
  opacity: 0.75;
  cursor: pointer;

  &:hover {
    background-color: rgba(7, 26, 59, 0.13);
  }

  img {
    height: 24px;
    opacity: 0.4;
  }
}

.form-column,
.form-card {
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  white-space: normal;
  width: fit-content;
  height: fit-content;

  &__text {
    color: #263959;
    background-color: white;
    overflow: visible;
    overflow-wrap: break-word;
    white-space: normal;
    width: 280px;
    font-size: 16px;
    line-height: 24px;
    font-family: sans-serif;
    border-radius: 5px;
  }

  &__buttons {
    height: fit-content;
    display: flex;
    button {
      height: 36px;
      border: 0;
    }

    &__confirm {
      background-color: #5aac44;
      color: white;
      border-radius: 3px;
      width: 80px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }

    &__delete {
      margin-left: 4px;
      cursor: pointer;

      img {
        height: 16px;
        opacity: 0.5;
      }

      &:hover {
        img {
          opacity: 0.7;
        }
      }
    }
  }

  .form-column {
    &__text {
      height: 24px;
      width: 282px;
      border: 3px solid #0079bf;
      padding: 4px;
      margin: 4px;
    }

    &__buttons {
      width: auto;
      margin: 0 4px 4px 4px;
    }
  }

  .form-card {
    &__text {
      height: fit-content;
      width: 272px;
      border: 0;
      padding: 4px;
      margin: 8px 10px;
      direction: ltr;
    }
    
    &__buttons {
      width: auto;
      margin: 0 10px 8px 10px;
    }
  }
}
